<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Konto użytkownika</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="jquery/jquery-ui.css"/>
  		<script src="js/jquery-2.1.3.min.js"></script>
  		<script src="jquery/jquery-ui.js"></script>
		<script src="js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        
    </head>
    <body>
        <h1 th:inline="text">Witaj [[${#httpServletRequest.remoteUser}]]!</h1>
        <h2 th:inline="text">Jesteś zalogowany jako: [[${#httpServletRequest.userPrincipal.authorities[0]}]]</h2>
       
       
       <!-- ....................................... Kalendarz!!!........................................-->   
		<h4>Kliknij na kalendarz, aby zobaczyć swoje dni pracy
		<input type="hidden" id="datepicker" />
		</h4>
		<div id="datepicker-container">
				<div id="datepicker"></div>
		</div>
					<script th:inline="javascript">
					
					var SelectedDates = {};
					function refreshCalendarOfUser(username){
						$.get('/calendar_list', {username:username}, function(data){
							SelectedDates = {};
							$.each(data,function(i,value){
								SelectedDates[new Date(value + " 00:00:00")] = new Date(value + " 00:00:00");
							});
							$('#datepicker').datepicker("refresh");
						});
					}
					
						refreshCalendarOfUser(							[[${#httpServletRequest.remoteUser}]]						);
					
					$( "#datepicker" ).datepicker({
						buttonImage: 'kalendarz.png',
				        buttonImageOnly: true,
				        firstDay: 1, //poniedzialek to pierwszy dzien tygodnia,
				        dayNamesMin: ["Nd", "Pn", "Wt", "Śr", "Cz", "Pt", "So" ],
				        monthNames: [ "Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień" ],
				        showOn: 'both',
				        dateFormat: "yy-mm-dd",
						
						beforeShowDay: function(date) {
				            
							var Highlight = SelectedDates[date];
				            if (Highlight) {
				            	return [true, "Highlighted", 'Dzień wolny.'];
				            }
				            else {
				                return [true, '', ''];
				            }
						}
					});
			
		</script>
<!--..............................................................................................-->  
       
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Wyloguj"/>
        </form>
        
    </body>
</html>