<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Add new employee panel </title>
    </head>
    <body>
        <h1>Panel dodawania kont nowych użytkowników</h1>
        
        <form>
            <div><label> Imię pracownika : <input type="text" name="first_name"/> </label></div>
            <div><label> Podaj hasło: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Utwórz konto"/></div>
        </form>
    </body>
</html>