<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<meta http-equiv="Content-type" content="text/html; charset=ISO-8859-2" />
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
		<script src="js/jquery-2.1.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <title>Add new client panel </title>
    </head>
    <body>
        <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				Panel dodawania nowych klientów
			</h3>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 col-md-offset-2" th:if="${param.u != null}">
			<p class="bg-danger" style= "font-size: 17px; text-align: center;" th:if="${param.u[0] == 'exist'}">
				Taki użytkownik (nr rejestracyjny) już istnieje.
			</p>
			<p class="bg-danger" style= "font-size: 17px; text-align: center;" th:if="${param.u[0] == 'empty'}">
				Żadne z pól nie może być puste
			</p>
			
			
		</div>
		<div class="col-md-12 column">
		
		<form id="newClientForm" action="/client_create" method="post">
			<table class="table">
				<tbody>
					<tr class="active">
						<td>
					    <div><label> Imię klienta: <input type="text" name="first_name"/> </label></div>
						</td>
					</tr>
					<tr class="success">
						<td>
						<div><label> Nazwisko kilenta: <input type="text" name="last_name"></input></label></div>
						</td>
					</tr>
					<tr class="warning">
						<td>
					    <div><label> Nr rejestracyjny pojazdu klienta: <input type="text" name="number_plate"></input></label></div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-12 column">
					 <button type="submit" class="btn btn-success" id="addWorkerButton">Dodaj nowego klienta</button>
			</div>
				
			</form>
			
			<div class="row clearfix">
				<div class="col-md-12 column">
					 <a href="main" style="text-decoration: none"><button type="button" class="btn btn-danger">Anuluj dodawania klienta</button></a>
				</div>
			</div>
		</div>
	</div>
</div>

	<script>
		$('#addWorkerButton')
				.click(
						function(event) {
							event.preventDefault();

							if ($('input[name="first_name"]').val().search(/[^a-zA-ZęóąśłżźćńĘÓĄŚŁŻŹĆŃ]+/) === 0) {
							alert('Imię powinno składać się z samych liter!');
							return;
							}
							if ($('input[name="last_name"]').val().search(/[^a-zA-ZęóąśłżźćńĘÓĄŚŁŻŹĆŃ\-]+/) === 0) {
								alert('Nazwisko powinno składać się z samych liter!');
								return;
							}
							if ($('input[name="number_plate"]').val().search(/[^A-Z0-9]+/) === 0) {
							alert('Numer Tablicy rejestarcyjnej zawiera same wielkie litery i cyfry!');
							return;
						}
							$('#newClientForm').submit();

						});
	</script>
        
    </body>
</html>