<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Car Repair </title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    
    <style type="text/css">
    	body{
    		 background-image: url("img/tlo.jpg"); 
    	}
    </style>
    	
    </head>
	<body >
        <div th:if="${param.error}" >
            <font color="red">Niepoprawna nazwa użytownika lub hasło!</font>
        </div>
        <div th:if="${param.logout}">
            <font color="red">Zostałeś wylogowany.</font>
        </div>
        <h1 align="center" vertical-align="middle"><font color="maroon"><b>Witaj w Car Repair. </b></font></h1>
		<h4 align="center" vertical-align="middle"><font color="maroon"><b></b><br /> Aby kontunować, zaloguj się.</font></h4>
       
        <form th:action="@{/login}" method="post" align="center">
            <div><label align="right"> <font color="maroon"><b>Podaj login :</b> </font><input type="text" name="username"/> </label></div>
            <div><label> <font color="maroon"> <b>Podaj hasło: </b></font> <input type="password" name="password"/> </label></div>
            <div align="center"><input type="submit" value="Zaloguj"/></div>
        </form>
    </body>
</html>