<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>


<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="jquery/jquery-ui.css" />
<link rel="stylesheet" href="css/dataTables.bootstrap.css" />
<script src="js/jquery-2.1.3.min.js"></script>
<script src="jquery/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script charset="utf8" src="js/jquery.dataTables.js"></script>

<script charset="utf8" src="js/dataTables.bootstrap.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>




	<div class="container">
		<div class="row clearfix">
			<div class="col-md-6 column">
				<h3 class="text-left text-primary" th:inline="text">Panel Mechanika: [[${#httpServletRequest.remoteUser}]]</h3>
			</div>

			<div class="col-md-6 column">
				<form th:action="@{/logout}" method="post">
					<input class="btn btn-danger" style="float: right; margin: 3%"
						type="submit" value="Wyloguj" />
				</form>
			</div>
		</div>





		<!-- ....................................... Kalendarz!!!........................................-->
		<h4>
			Kliknij na kalendarz, aby zobaczyć swoje dni pracy <input
				type="hidden" id="datepicker" />
		</h4>
		<div id="datepicker-container">
			<div id="datepicker"></div>
		</div>
		<script th:inline="javascript">
					
					var SelectedDates = {};
					function refreshCalendarOfUser(username){
						$.get('/calendar_list', {username:username}, function(data){
							SelectedDates = {};
							$.each(data,function(i,value){
								SelectedDates[new Date(value + " 00:00:00")] = new Date(value + " 00:00:00");
							});
							$('#datepicker').datepicker("refresh");
						});
					}
					
						refreshCalendarOfUser(							[[${#httpServletRequest.remoteUser}]]						);
					
					$( "#datepicker" ).datepicker({
						buttonImage: 'kalendarz.png',
				        buttonImageOnly: true,
				        firstDay: 1, //poniedzialek to pierwszy dzien tygodnia,
				        dayNamesMin: ["Nd", "Pn", "Wt", "Śr", "Cz", "Pt", "So" ],
				        monthNames: [ "Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień" ],
				        showOn: 'both',
				        dateFormat: "yy-mm-dd",
						
						beforeShowDay: function(date) {
				            
							var Highlight = SelectedDates[date];
				            if (Highlight) {
				            	return [true, "Highlighted", 'Dzień wolny.'];
				            }
				            else {
				                return [true, '', ''];
				            }
						}
					});
					
					
					
					$(document).ready(function(){
						$.getJSON('/tasks_list', {mechanic:[[${#httpServletRequest.remoteUser}]]}, function(result){
							$.each(result, function(index,client){ 
								$('#clientsTable tbody').append('<tr class="warning" name="client-row"><td><input type="radio" name="taskid" value="'+client.id+'" required="required" ></input>'+client.plate+'</td><td>'+client.description+'</td><td>'+client.title+'</td><td>'+client.hours+'</td><td>'+client.date+'</td><td>'+client.partsCosts+'</td><td>'+client.repairCosts+'</td></tr>')
							});
							$('#clientsTable').dataTable(
									{
										"sPaginationType": "simple",
								        "language": {
								            "lengthMenu": "Wyświetl _MENU_ wyników na każdej stronie",
								            "zeroRecords": "Brak rekordów",
								            "info": "Wyświetlam stronę _PAGE_ z _PAGES_",
								            "infoEmpty": "Brak rekordów",
								            "search": "Szukaj",
								            "infoFiltered": "(Dostępnych _MAX_ wszystkich rekordów)"
								        }});
							$('tr[name=client-row]').click(function(row){
								$(this).find('input').prop('checked', true);
								$('tr[name=client-row]').each(function(){
									$(this).switchClass("success", "warning");
								});
								$(this).switchClass("warning", "success");
							});
						});
						
					});
			
		</script>
		<!--..............................................................................................-->

		<!--..................................Aktywne zadania mechanika..........................................-->
		
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="tabbable" id="tabs-870073">
						
						<ul class="nav nav-tabs">
							<li class="active"><a href="#panel-493160" data-toggle="tab">Zgłoszenia do realizacji</a></li>
							<li><a href="#panel-712304" data-toggle="tab">Wyszukaj zlecenie</a></li>
						</ul>
						
		<!--.................       Sekcja realizowania zgłoszeń         ......................-->	
						<div class="tab-content">
							<div class="tab-pane active" id="panel-493160">
		<form id="task-form" method="POST" action="/task_update">
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<table id="clientsTable" class="table table-hover">
							<thead>
								<tr>
									<th>Numer rejestracyjny</th>
									<th>Opis</th>
									<th>Tytuł</th>
									<th>Ile godzin</th>
									<th>Data</th>
									<th>Koszt części</th>
									<th>Koszt naprawy</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row clearfix">
				<div class="col-md-12 column">
				
					<div class="form-group">
						<label for="repairs_costs" class="col-sm-2 control-label">Koszt naprawy</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" min="0" step="50" style="width: 120px;" id="repairs_costs" name="repairs_costs" value="100" required="required"/>
						</div>
					</div>	
		
					<div class="form-group">
						<label for="parts_costs" class="col-sm-2 control-label">Koszt części</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" min="0" step="10" style="width: 120px;" id="parts_costs" name="parts_costs" value="0" required="required"/>
						</div>
					</div>	
					
					<div class="form-group">
						<label for="parts_costs" class="col-sm-2 control-label">Komentarz</label>
						<div class="col-sm-10">
							
							<textarea  class="form-control"   id="description" name="description" placeholder="Wstaw komentarz do naprawy" required="required"  cols="40" rows="5" ></textarea>
						</div>
					</div>	
				

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Dodaj</button>
						</div>
					</div>
				</div>
			</div>

		</form>

	</div>

	
								<!--.......................................Sekcja wyszukiwarka..............................................................-->
							<div class="tab-pane" id="panel-712304">
								<div class="container">
									<div class="row clearfix">
										<div id="reporttab" class="col-md-12 column">
											<table id="fullTable" class="table table-hover">
												<thead>
													<tr>

														<th>Nr. Rej.</th>
														<th>Klient</th>
														<th>Tytuł</th>
														<th>Opis</th>
														<th>Godziny</th>
														<th>Data</th>
														<th>Mechanik</th>
														<th>Status</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<script>
							
							$(document).ready(function(){
								$.getJSON('/report_full', function(result){
									$.each(result, function(index,report){ 
										$('#fullTable tbody').append('<tr class="warning"><td>'+report.client.numberPlate+'</td><td>'+
												report.client.firstName + " " + report.client.lastName+'</td><td>'+report.task.title+'</td><td>'+report.task.description+'</td><td>'+report.task.hours+'</td><td>'+report.task.date+'</td><td>'+report.task.mechanic+'</td><td>'+(report.task.isDone ? 'Zrealizowano' : 'W trakcie')+'</td></tr>')
									});
									$('#fullTable').dataTable(
											{
												"sPaginationType": "simple",
										        "language": {
										            "lengthMenu": "Wyświetl _MENU_ wyników na każdej stronie",
										            "zeroRecords": "Brak rekordów",
										            "info": "Wyświetlam stronę _PAGE_ z _PAGES_",
										            "infoEmpty": "Brak rekordów",
										            "search": "Szukaj",
										            "infoFiltered": "(Dostępnych _MAX_ wszystkich rekordów)"
										        }});
								});
								
							});
							</script>
							</div>
	
	
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>

</body>
</html>